<div class="videoWrapper">
  <iframe 
onload="this.src += '#!referrer='+encodeURIComponent(location.href)+'&realReferrer='+encodeURIComponent(document.referrer)"  
src="//demo.bbvms.com/p/default/c/2734714.html?inheritDimensions=true" width="720" height="400"  
frameborder="0" webkitallowfullscreen mozallowFullscreen oallowFullscreen msallowFullscreen allowfullscreen >  
  </iframe>
</div>

<div class="overlayContent">
  <h1>Look at this awesome video!</h1>
  <p>It is in an iframe</p>
  <p>But it is still an awesome video</p>
</div>