<div class="form-container">
    <form [formGroup]="postForm">
    <mat-form-field class="input-post-id" appearance="fill">
        <mat-label>Post Id (number)</mat-label>
        <input matInput type="text" id="postId" name="postId" formControlName="postId">
    </mat-form-field>
    <button mat-stroked-button type="button" (click)="clickme()">Search</button>
    <h1 *ngIf="!this.isNumber">Not a valid number</h1>
    <h1 *ngIf="!this.isNumberValid">Not a valid ID in mapping.csv, best chance below 100</h1>
    <h1 *ngIf="!this.showPlaceHolder">Title:</h1>
    <p *ngIf="!this.showPlaceHolder">{{placeholderTitle}}</p>
    <h1 *ngIf="!this.showPlaceHolder">Body:</h1>
    <p *ngIf="!this.showPlaceHolder">{{placeholderBody}}</p>
    </form>
</div>